    {%- assign collection = collections[section.settings.collection_1] -%}


{% if collection.products_count <= 3 %}
  {%- assign product_limit = collection.products_count -%}
{% else %}
  {%- assign product_limit = 12 -%}
{% endif %}
<div class="collection_slider {% if section.settings.collection_1 == blank %}placeholder_collection_slider{% endif %} {% if section.settings.slider_style %} overflow-slider{% endif %}" id="CollectionSlider-{{ section.id }}" 
  data-dots="false"
  data-count="{{ product_limit }}">
    {% if section.settings.collection_1 == blank or collections[section.settings.collection_1].empty? or collections[section.settings.collection_1].products_count == 0 %}
        {% for i in (1..4) %}
            <div class="collection_slide placeholder_collection_slide">
                <div class="grid-view-item grid-view-item--sold-out product-card">
                    <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
                        <div class="grid-view-item__image-wrapper product-card__image-wrapper js">
                            <div class="">
                                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                        </div>
                    </div>
                    <div class="card-details">
                      <div class="card-details__wrapper">
                        <a class="" href="#" class="is-inline-block card-details__link">
                            <span class="card-details__text h4">{{ 'onboarding.product_title' | t }}</span>
                        </a>
                        {% render 'price' %}
                      </div>
                    </div>
                </div> 
            </div>
        {% endfor %}
    {% else %}
        {% for productItem in collection.products limit: product_limit %}
            {% unless productItem.id == product.id %}
              {%- unless productItem.tags contains 'is-hidden' -%}
                <div class="collection_slide collection-slide--{{ productItem.id }}">
                {% render 'electronic-product-card', 
                    media_size: settings.image_ratio,
                    product_card_product: productItem,
                    is_slider: "true"
                %}
                </div>
              {% endunless %}
            {% endunless %}
        {% endfor %}
    {% endif %}
</div>
  