{{ 'section-hero.css' | asset_url | stylesheet_tag }}

{% assign collection_image = collection.featured_image  %}


{%  unless section.settings.image_height == 'original_ratio' %} 
  {% style %}
    #{{ section.id }} {
      height: {{ section.settings.image_height }}
    }
  {% endstyle %}
{% endunless %}


<div class="hero-wrapper {%  if section.settings.image_height != 'original_ratio' and section.settings.show_collection_desc %}section-gap{% endif %} {%  if section.settings.image_height != 'original_ratio' and section.settings.show_collection_desc == false %}section-gap--small{% endif %}" id="{{ section.id }}">
  {%- if section.settings.image != blank and section.settings.show_collection_image == false -%}
    {%- assign img_url = section.settings.image | img_url:'1x1' | replace: '_1x1.', '_{width}x.' -%}
    <img class="lazyload"
        data-srcset="{{ img_url }}"
        data-aspectratio="{{ section.settings.image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.height }}"
        style="object-position:{{section.settings.image.presentation.focal_point}}"
      >

    
  {%- elsif collection_image and section.settings.show_collection_image != blank -%}
    {%- assign img_url = collection_image | img_url:'1x1' | replace: '_1x1.', '_{width}x.' -%}
    <img class="lazyload"
        data-srcset="{{ img_url }}"
        data-aspectratio="{{ collection_image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ collection_image.alt | escape }}"
        width="{{ collection_image.width }}"
        height="{{ collection_image.height }}"
      >
  {%- else -%}
      {{ 'lifestyle-2' | placeholder_svg_tag }}
  {%- endif -%}
  {% if section.settings.heading_overlay %}
  <div class="overlay-heading" style="color: {{ section.settings.color_text }};">{{ section.settings.heading }}</div>
  {% endif %}
  
    <div class="container {% if section.settings.heading_overlay %}hidden{% endif %}">
      <div class="hero-inner" {% if section.settings.color_bg != blank %}style="background-color:{{section.settings.color_bg}};"{% endif %} >
        {% if section.settings.heading != blank and section.settings.show_collection_title == false %}
          <h1 {% if section.settings.show_collection_desc %} class="title" {% endif %} style="color: {{section.settings.color_text}};">{{ section.settings.heading }}</h1>
        {% endif %}
        {% if section.settings.show_collection_title %}
          <h1 class="title" style="color: {{section.settings.color_text}};">{{ collection.title }}</h1>
        {% endif %}
        {% if section.settings.show_collection_desc and collection.description != blank %}
          <p style="color: {{section.settings.color_text}};">{{ collection.description }}</p>
        {% endif %}
      </div>
    </div>
   
</div>

{% schema %}
{
  "name": "t:sections.hero.name",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.hero.info"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "t:sections.hero.settings.show-collection-image.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "t:sections.hero.settings.show-collection-title.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_desc",
      "label": "t:sections.hero.settings.show-collection-description.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.hero.settings.image.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.hero.settings.heading.label"
    },
    {
      "type": "checkbox",
      "id": "heading_overlay",
      "label": "t:sections.hero.settings.heading_overlay.label"
    },
    {
      "type": "color",
      "id": "color_bg",
      "default": "#2d2d2d",
      "label": "t:sections.hero.settings.color_bg.label"
    },
    {
      "type": "color",
      "id": "color_text",
      "default": "#fff",
      "label": "t:sections.hero.settings.color_text.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "original_ratio",
          "label": "t:sections.hero.settings.image_height.options__1.label"
        },
        {
          "value": "55vh",
          "label": "t:sections.hero.settings.image_height.options__2.label"
        },
        {
          "value": "70vh",
          "label": "t:sections.hero.settings.image_height.options__3.label"
        },
        {
          "value": "85vh",
          "label": "t:sections.hero.settings.image_height.options__4.label"
        }
      ],
      "default": "original_ratio",
      "label": "t:sections.hero.settings.image_height.label",
      "info": "t:sections.hero.settings.image_height.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero.presets.name"
    }
  ]
}
{% endschema %}