{{ 'section-text-columns-with-images.css' | asset_url | stylesheet_tag }}

{% style %}
#{{ section.id }} p, #{{ section.id }} h3 {
    color: {{section.settings.color_text}};
}
#{{ section.id }} .placeholder-svg path{
  fill: {{section.settings.color_text}};
}
#{{ section.id }} .icon {
  background-color: {{section.settings.icon_background}};
  min-width: {{section.settings.icons_circle_size}}px;
  width: {{section.settings.icons_circle_size}}px;
  height: {{section.settings.icons_circle_size}}px;
  padding: {{section.settings.icons_circle_padding}}px;
}
#shopify-section-{{ section.id }} .section {
  padding-top: {{ section.settings.padding-top }}px;
  padding-bottom: {{ section.settings.padding-bottom }}px;
}
#{{ section.id }} .title {
  color: {{section.settings.color_text}};
}
#{{ section.id }} .icon path {
  fill: {{settings.colors_accent_1}};
}
{% endstyle %}

<div id="{{ section.id }}" class="text-columns-with-images-section section color-{{ section.settings.color_bg }} content_alignment--{{ section.settings.content_alignment }} {% if section.settings.enable_section_borders %}section-with--border{% endif %}">
    <div class="page-width">
      {% if section.settings.heading != blank %}
      <h2 class="title data-aos data-aos--fade-left data-aos--delay-200">{{ section.settings.heading | escape }}</h2>
      {% endif %}
      
      <div class="columns  is-marginless horizontal-column ">
          {%- for block in section.blocks -%}
            <div class="section-grid column is-4-desktop is-6-tablet is-12-mobile {% if section.settings.icon_postion == 'top' %}icon-position-top{% endif %} data-aos data-aos--fade-up data-aos--delay-200">

                <div class="icon" >

                  {% if block.settings.image != blank %}
   <img 
                        src="{{ block.settings.image | img_url: '720x' }}"
                        srcset="{%- if block.settings.image.width >= 200 -%}{{ block.settings.image | img_url: '200x' }} 200w,{%- endif -%}
                        {%- if block.settings.image.width >= 320 -%}{{ block.settings.image | img_url: '320x' }} 320w,{%- endif -%}
                        {%- if block.settings.image.width >= 480 -%}{{ block.settings.image | img_url: '480x' }} 480w,{%- endif -%}
                        {%- if block.settings.image.width >= 768 -%}{{ block.settings.image | img_url: '768x' }} 768w,{%- endif -%}
                        {%- if block.settings.image.width >= 1024 -%}{{ block.settings.image | img_url: '1024x' }} 1024w,{%- endif -%}
                        {%- if block.settings.image.width >= 1400 -%}{{ block.settings.image | img_url: '1400x' }} 1400w,{%- endif -%}
                        {%- if block.settings.image.width >= 1920 -%}{{ block.settings.image | img_url: '1920x' }} 1920w{%- endif -%}"
                        sizes="(min-width: 1100px){% if section.blocks.size > 1 %}700px{% else %}940px{% endif %}, (min-width: 750px) {% if section.blocks.size > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %}, calc(100vw - 3rem)"
                        height="{{ block.settings.image.height }}"
                        width="{{ block.settings.image.width }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        loading="lazy"
                        class=""
                        style="object-position:{{block.settings.image.presentation.focal_point}}"

                    >
                   
                    {% elsif block.settings.choose_icon == 'quality' %}
<svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_884_23635)">
<path d="M11.988 26.1006C10.81 26.1006 9.85156 27.0589 9.85156 28.2369C9.85156 29.4148 10.81 30.3731 11.988 30.3731C13.166 30.3731 14.1243 29.4148 14.1243 28.2369C14.1243 27.0589 13.1659 26.1006 11.988 26.1006ZM11.988 28.9644C11.587 28.9644 11.2606 28.638 11.2606 28.2371C11.2606 27.8361 11.587 27.5097 11.988 27.5097C12.3891 27.5097 12.7153 27.8361 12.7153 28.2371C12.7153 28.638 12.389 28.9644 11.988 28.9644Z" fill="#267869"/>
<path d="M31.3189 39.6857C31.2247 39.3952 30.9541 39.1987 30.649 39.1987H26.4642L25.171 35.2188C25.0778 34.9318 24.8026 34.7319 24.5009 34.7319C24.1992 34.7319 23.9242 34.9317 23.8309 35.2188L22.5377 39.1987H18.353C18.0478 39.1987 17.7773 39.3952 17.683 39.6856C17.5887 39.9758 17.692 40.2939 17.9389 40.4732L21.3244 42.933L20.0312 46.913C19.9409 47.1906 20.0358 47.5032 20.2651 47.6839C20.5101 47.8769 20.863 47.8839 21.1153 47.7006L24.5008 45.2407L27.8863 47.7006C28.1511 47.8929 28.5233 47.8745 28.768 47.6574C28.9754 47.4734 29.0562 47.1768 28.9704 46.9131L27.6772 42.9331L31.0627 40.4733C31.3099 40.294 31.4132 39.9759 31.3189 39.6857ZM26.4352 42.0938C26.1882 42.2732 26.0849 42.5912 26.1792 42.8814L26.9606 45.2861L24.9149 43.8C24.6708 43.6225 24.3309 43.6225 24.0868 43.8L22.0412 45.2861L22.8225 42.8814C22.9168 42.5912 22.8135 42.2731 22.5666 42.0938L20.5211 40.6077H23.0495C23.3547 40.6077 23.6252 40.4112 23.7195 40.1209L24.5008 37.7162L25.2822 40.1209C25.3765 40.4112 25.647 40.6077 25.9522 40.6077H28.4806L26.4352 42.0938Z" fill="#267869"/>
<path d="M48.4673 39.6856C48.373 39.3952 48.1025 39.1987 47.7973 39.1987H43.6126L42.3194 35.2188C42.2262 34.9318 41.9511 34.7319 41.6494 34.7319C41.3477 34.7319 41.0726 34.9317 40.9793 35.2188L39.6862 39.1987H35.5014C35.1963 39.1987 34.9257 39.3952 34.8314 39.6856C34.7371 39.9758 34.8404 40.2939 35.0873 40.4732L38.4728 42.933L37.1797 46.913C37.0894 47.1906 37.1842 47.5032 37.4136 47.6839C37.6585 47.8769 38.0114 47.8839 38.2638 47.7006L41.6493 45.2407L45.0348 47.7006C45.2996 47.8929 45.6717 47.8745 45.9165 47.6574C46.124 47.4734 46.2047 47.1768 46.1189 46.9131L44.8257 42.9331L48.2112 40.4733C48.4584 40.2939 48.5617 39.9758 48.4673 39.6856ZM43.5836 42.0939C43.3367 42.2733 43.2334 42.5913 43.3277 42.8815L44.1089 45.2862L42.0635 43.8001C41.8164 43.6207 41.4821 43.6206 41.2353 43.8001L39.1897 45.2862L39.971 42.8815C40.0653 42.5913 39.962 42.2732 39.715 42.0939L37.6695 40.6078H40.198C40.5032 40.6078 40.7737 40.4113 40.8681 40.121L41.6494 37.7163L42.4307 40.121C42.525 40.4113 42.7956 40.6078 43.1007 40.6078H45.6292L43.5836 42.0939Z" fill="#267869"/>
<path d="M14.1706 39.6857C14.0762 39.3952 13.8056 39.1987 13.5004 39.1987H9.31572L8.02253 35.2188C7.92822 34.9284 7.65765 34.7319 7.3525 34.7319C7.04734 34.7319 6.77678 34.9284 6.68247 35.2188L5.38928 39.1987H1.20456C0.899404 39.1987 0.628841 39.3952 0.534529 39.6856C0.440216 39.9758 0.543529 40.2939 0.790466 40.4732L4.17597 42.933L2.88278 46.913C2.78847 47.2032 2.89178 47.5213 3.13872 47.7006C3.38556 47.88 3.71997 47.88 3.9669 47.7006L7.3524 45.2407L10.7379 47.7006C11.0027 47.8929 11.3748 47.8745 11.6195 47.6574C11.827 47.4734 11.9077 47.1768 11.8219 46.9131L10.5287 42.9331L13.9142 40.4733C14.1616 40.294 14.2649 39.9759 14.1706 39.6857ZM9.28675 42.0938C9.03981 42.2732 8.9365 42.5912 9.03081 42.8814L9.81212 45.2861L7.7665 43.8C7.52237 43.6225 7.18244 43.6225 6.93831 43.8L4.89287 45.286L5.67409 42.8813C5.7684 42.5911 5.66509 42.273 5.41815 42.0937L3.37262 40.6076H5.90106C6.20622 40.6076 6.47678 40.4111 6.57109 40.1208L7.3524 37.7161L8.13372 40.1208C8.22803 40.4111 8.49859 40.6076 8.80375 40.6076H11.3322L9.28675 42.0938Z" fill="#267869"/>
<path d="M42.7968 17.7282C43.5245 17.1426 43.9909 16.2447 43.9909 15.2402C43.9909 13.4799 42.5588 12.0477 40.7985 12.0477H29.4664C29.8186 11.2797 30.2252 10.1098 30.4576 8.48356C30.9974 4.70459 30.1817 2.69872 29.4024 1.68144C28.7428 0.820437 27.8565 0.29975 26.8397 0.175813C25.9817 0.0704375 25.1982 0.751906 25.1754 1.61384C25.0435 2.96891 24.5609 6.68638 23.8698 8.06881C22.0943 11.6199 17.8611 13.737 16.5537 14.3228C16.0962 13.9296 15.502 13.6912 14.8528 13.6912H9.12528C7.68416 13.6912 6.51172 14.8635 6.51172 16.3047V30.6233C6.51172 32.0645 7.68416 33.2368 9.12528 33.2368H14.8527C15.6237 33.2368 16.3178 32.9009 16.7965 32.3681C17.54 32.8375 18.74 33.3604 20.3972 33.3604H38.8081C40.5685 33.3604 42.0005 31.9283 42.0005 30.168C42.0005 29.3611 41.6996 28.6231 41.204 28.0604C42.2641 27.5406 42.9956 26.45 42.9956 25.192C42.9956 24.3851 42.6946 23.6472 42.1991 23.0844C43.2592 22.5646 43.9906 21.474 43.9906 20.216C43.9909 19.2116 43.5244 18.3137 42.7968 17.7282ZM14.8527 31.8278H9.12528C8.46106 31.8278 7.92069 31.2874 7.92069 30.6232V16.3047C7.92069 15.6404 8.46106 15.1001 9.12528 15.1001H14.8527C15.189 15.1001 15.4932 15.239 15.712 15.4621V31.1727C15.712 31.257 15.7273 31.3397 15.7561 31.4173C15.5352 31.6683 15.2126 31.8278 14.8527 31.8278ZM37.8386 18.4326H40.7988C41.7822 18.4326 42.5822 19.2327 42.5822 20.216C42.5822 21.1992 41.7822 21.9994 40.7988 21.9994H37.8386C37.4495 21.9994 37.134 22.3148 37.134 22.7039C37.134 23.0931 37.4495 23.4085 37.8386 23.4085H39.8036C40.787 23.4085 41.587 24.2086 41.587 25.1919C41.587 26.1751 40.7869 26.9753 39.8036 26.9753H37.2985C36.9094 26.9753 36.5939 27.2907 36.5939 27.6798C36.5939 28.069 36.9094 28.3843 37.2985 28.3843H38.8083C39.7917 28.3843 40.5917 29.1845 40.5917 30.1678C40.5917 31.1512 39.7917 31.9512 38.8083 31.9512H20.3974C18.9433 31.9512 17.9576 31.4641 17.4223 31.0984C17.4508 30.9441 17.4665 30.7854 17.4665 30.623V16.3047C17.4665 16.0292 17.4234 15.7638 17.3441 15.5144C18.9948 14.7568 23.221 12.5169 25.13 8.69891C26.0848 6.78931 26.5609 1.9265 26.5807 1.72044C26.5828 1.69813 26.5839 1.67553 26.5839 1.65312C26.5839 1.62912 26.5931 1.60869 26.6112 1.59275C26.6365 1.57053 26.6608 1.57334 26.669 1.57437C27.11 1.62819 27.7482 1.83912 28.2839 2.53831C28.899 3.34119 29.5334 4.98978 29.0628 8.28434C28.6639 11.0769 27.7181 12.2985 27.7122 12.3061C27.3429 12.7574 27.6754 13.4568 28.2573 13.4568H40.7987C41.7822 13.4568 42.5821 14.257 42.5821 15.2403C42.5821 16.2237 41.7821 17.0237 40.7987 17.0237H37.8385C37.4494 17.0237 37.1339 17.3391 37.1339 17.7282C37.1339 18.1174 37.4494 18.4326 37.8386 18.4326Z" fill="#267869"/>
</g>
<defs>
<clipPath id="clip0_884_23635">
<rect width="48" height="48" fill="white" transform="translate(0.5)"/>
</clipPath>
</defs>
</svg>
                    {% elsif block.settings.choose_icon == 'guarantee' %}
 <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_884_23680)">
<path d="M48.294 31.7899L44.0852 27.5811C43.6285 27.1244 43.3121 26.5436 43.1744 25.9192L46.8281 22.2655C46.8812 22.2124 46.924 22.1528 46.9566 22.0894C47.9695 20.7505 47.8659 18.8301 46.6457 17.6103C45.9997 16.9643 45.1413 16.6087 44.2276 16.6087C44.1884 16.6087 44.1492 16.6102 44.1104 16.6116C44.3869 15.487 44.087 14.2485 43.2103 13.3714C42.5321 12.6932 41.6378 12.3607 40.7472 12.3724C41.0727 11.2188 40.783 9.92648 39.877 9.02048C39.297 8.4404 38.5583 8.11301 37.7992 8.03757C38.0515 7.55527 38.1859 7.01585 38.1859 6.45591C38.1859 5.54222 37.8303 4.68346 37.1843 4.03783C36.5383 3.39184 35.6795 3.03625 34.7662 3.03625C33.8529 3.03625 32.9941 3.39184 32.3481 4.03783L31.2242 5.16136L28.7077 2.75537C27.9243 2.00647 26.8964 1.59375 25.8128 1.59375H19.8549C18.8478 1.59375 18.0282 2.41333 18.0282 3.4204C18.0282 3.95287 18.1066 4.4674 18.2505 4.95445C17.2618 4.85301 16.2371 5.17967 15.4809 5.9359C14.8349 6.58189 14.4793 7.44065 14.4793 8.35398C14.4793 8.77622 14.5562 9.18674 14.702 9.57016C13.8461 9.60788 13.0467 9.95834 12.4373 10.5681C11.524 11.481 11.2365 12.7866 11.5742 13.9471C10.6905 13.9409 9.80465 14.2734 9.13156 14.9465C8.13071 15.9473 7.88132 17.4195 8.38303 18.6551C7.57334 18.7009 6.7772 19.0319 6.15977 19.649C4.8784 20.9307 4.82933 22.984 6.01109 24.3255C5.96348 24.7093 5.92393 25.0938 5.89317 25.4721C5.82871 26.2653 5.48155 27.0145 4.91466 27.5811L0.70581 31.7899C0.573974 31.9218 0.5 32.1005 0.5 32.2872C0.5 32.4736 0.573974 32.6523 0.70581 32.7842L3.37145 35.4498C3.50878 35.5871 3.68895 35.6556 3.86876 35.6556C4.04857 35.6556 4.22838 35.5871 4.36571 35.4498C4.64036 35.1752 4.64036 34.7302 4.36571 34.4559L2.19701 32.2872L5.90891 28.5753C6.70395 27.7803 7.19358 26.7304 7.29135 25.6164L7.60886 25.9342C8.27536 26.6007 9.15133 26.934 10.0269 26.934C10.9025 26.934 11.7785 26.6007 12.445 25.9339C13.1412 25.2381 13.473 24.3141 13.4422 23.4004C13.7084 23.466 13.9846 23.5 14.2658 23.5C15.1791 23.5 16.0379 23.1444 16.6839 22.4985C17.3614 21.8206 17.6939 20.9274 17.6829 20.0375C17.9828 20.1221 18.2963 20.1668 18.6167 20.1668C19.5301 20.1668 20.3888 19.8112 21.0348 19.1652C21.6153 18.5848 21.943 17.8454 22.0177 17.0859C22.5114 17.343 23.0552 17.4715 23.599 17.4715C24.4746 17.4715 25.3502 17.1382 26.0167 16.4717H26.0171C27.2278 15.2611 27.3388 13.3608 26.3507 12.0234L33.3424 5.03172C33.7225 4.65123 34.2283 4.44176 34.7662 4.44176C35.3042 4.44176 35.8099 4.65123 36.19 5.03172C36.9752 5.81688 36.9752 7.09458 36.19 7.87974L29.0724 14.9974C28.8164 15.253 28.7996 15.676 29.035 15.951C29.298 16.2579 29.7806 16.2773 30.0667 15.9913L36.1219 9.936C36.9122 9.23251 38.1258 9.25742 38.8828 10.0144C39.6679 10.7995 39.6679 12.0772 38.8828 12.8624L33.7372 18.008C33.5632 18.1823 33.3882 18.3552 33.2153 18.5302C32.8846 18.8642 32.9385 19.434 33.3677 19.6625C33.6372 19.8061 33.9789 19.7544 34.1949 19.5387L39.3687 14.3649C39.7489 13.9848 40.2546 13.7753 40.7922 13.7753C41.3298 13.7753 41.8355 13.9848 42.216 14.3653C43.0012 15.1505 43.0012 16.4278 42.216 17.213L37.5791 21.8499C37.3231 22.1059 37.3059 22.5288 37.5417 22.8039C37.8047 23.1108 38.2873 23.1298 38.5733 22.8442L42.9049 18.5123C43.2718 18.1911 43.7358 18.0142 44.2276 18.0142C44.7656 18.0142 45.2713 18.2237 45.6514 18.6038C46.437 19.389 46.437 20.6667 45.6514 21.4518L42.2819 24.8217H42.2816C42.2717 24.8316 42.2625 24.8415 42.2534 24.8517L39.9631 27.142C39.7031 27.402 39.6906 27.8316 39.9349 28.1062C40.1997 28.4043 40.675 28.4182 40.9574 28.1362L42.0589 27.0347C42.2988 27.6074 42.6514 28.1355 43.0909 28.575L46.8028 32.2869L38.4774 40.6123C38.2027 40.8869 38.2027 41.3319 38.4774 41.6065C38.6147 41.7439 38.7945 41.8123 38.9743 41.8123C39.1541 41.8123 39.3343 41.7439 39.4716 41.6065L48.294 32.7838C48.4258 32.652 48.5002 32.4733 48.5002 32.2869C48.4998 32.1005 48.4258 31.9218 48.294 31.7899ZM11.4511 24.94C10.666 25.7251 9.38827 25.7251 8.60312 24.94L7.15403 23.4909C6.36887 22.7057 6.36887 21.4284 7.15403 20.6432C7.90842 19.8888 9.11508 19.8614 9.90536 20.5557L11.5394 22.1897C12.2326 22.9797 12.2048 24.1859 11.4511 24.94ZM15.6896 21.5042C15.3095 21.8843 14.8038 22.0938 14.2658 22.0938C13.7282 22.0938 13.2225 21.8843 12.842 21.5042L12.5853 21.2471C12.5402 21.1966 12.4937 21.1464 12.445 21.0977C12.423 21.0757 12.3996 21.0563 12.3758 21.0376L11.0564 19.7182C11.0377 19.6944 11.0183 19.6709 10.9963 19.649C10.948 19.6006 10.8982 19.5545 10.8476 19.5095L10.1262 18.788C9.34103 18.0029 9.34103 16.7255 10.1262 15.9404C10.9113 15.1552 12.1887 15.1552 12.9738 15.9404C12.9742 15.9404 12.9742 15.9407 12.9742 15.9407L15.69 18.6562C16.4748 19.4417 16.4748 20.719 15.6896 21.5042ZM20.0406 18.1713C19.2558 18.9565 17.9781 18.9565 17.1929 18.1713L13.4316 14.41C12.6461 13.6248 12.6461 12.3471 13.4316 11.562C13.8117 11.1815 14.3174 10.972 14.8554 10.972C15.3531 10.972 15.8218 11.1533 16.1902 11.4814L20.1175 15.4086C20.8224 16.1986 20.7983 17.4133 20.0406 18.1713ZM25.0229 15.4775C24.2377 16.2626 22.96 16.2626 22.1748 15.4775L21.1678 14.4704C21.1249 14.4224 21.081 14.3752 21.0348 14.3294C21.014 14.3085 20.992 14.2899 20.9696 14.2723L17.3303 10.6333C17.3127 10.6106 17.294 10.5886 17.2735 10.5681C17.2274 10.5219 17.1801 10.478 17.1321 10.4351L16.4748 9.7778C16.0947 9.39731 15.8852 8.89157 15.8852 8.35398C15.8852 7.81602 16.0947 7.31028 16.4752 6.92979C16.8677 6.53758 17.3834 6.34092 17.899 6.34092C18.4146 6.34092 18.9302 6.53721 19.3228 6.92979L19.4173 7.02464C19.5315 7.15025 19.6517 7.27073 19.7776 7.38462L25.0225 12.6298C25.808 13.415 25.808 14.6923 25.0229 15.4775ZM25.3836 11.002L23.1867 8.80515L24.7328 9.0538C24.921 9.46396 25.2594 10.125 25.704 10.6812L25.3836 11.002ZM26.7063 9.67929C26.3152 9.14645 25.9948 8.45395 25.8798 8.16355C25.7886 7.9321 25.5824 7.76621 25.3371 7.72666L22.7502 7.31138C21.9668 7.1854 21.2714 6.83897 20.7221 6.34056L20.4588 6.07762C19.8179 5.3745 19.4341 4.43993 19.4341 3.42004C19.4341 3.18823 19.6231 2.99963 19.8549 2.99963H25.8128C26.5327 2.99963 27.2157 3.27355 27.7361 3.77123L30.23 6.15562L26.7063 9.67929Z" fill="#267869"/>
<path d="M36.487 42.6006L34.3966 44.6909L30.7078 41.0021C29.8271 40.1214 28.7003 39.4937 27.4896 39.2014C31.4146 37.5696 34.1542 34.9333 34.4585 34.6326C34.4596 34.6315 34.4604 34.6308 34.4611 34.63C34.4695 34.622 34.4765 34.615 34.4809 34.6106L38.9669 30.1246C39.2416 29.8499 39.2416 29.405 38.9669 29.1303C38.6926 28.8557 38.2473 28.8557 37.9727 29.1303L33.4866 33.6164C33.4851 33.6178 33.4793 33.6237 33.4705 33.6325C33.2409 33.8559 30.6873 36.2926 27.1039 37.8303C26.2243 38.2075 25.3143 38.5174 24.3815 38.7345C23.7744 38.8762 23.1504 38.9806 22.5139 39.0366C20.9165 39.1765 19.4157 39.8745 18.2882 41.0021L14.5994 44.6909L6.35232 36.4439C6.07766 36.1692 5.63272 36.1692 5.35806 36.4439C5.08377 36.7182 5.08377 37.1635 5.35806 37.4378L14.1024 46.1821C14.373 46.4528 14.826 46.4528 15.0967 46.1821L19.2824 41.9963C20.1767 41.1021 21.368 40.5484 22.6369 40.437C23.2738 40.381 23.8971 40.2821 24.5039 40.1499C25.1268 40.2858 25.7504 40.3836 26.3594 40.437C27.6284 40.548 28.8196 41.1021 29.7139 41.9963L33.8997 46.1821C34.1703 46.4528 34.6233 46.4528 34.894 46.1821L37.4812 43.5945C37.7559 43.3202 37.7559 42.8749 37.4812 42.6006C37.2066 42.3263 36.7616 42.3263 36.487 42.6006Z" fill="#267869"/>
</g>
<defs>
<clipPath id="clip0_884_23680">
<rect width="48" height="48" fill="white" transform="translate(0.5)"/>
</clipPath>
</defs>
</svg>
                  {%- elsif block.settings.choose_icon == 'delivery' -%}
                          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M44.6398 21.6903L43.3968 16.7183C43.7366 16.6461 43.9916 16.3446 43.9916 15.9834V15.1817C43.9916 13.4412 42.5755 12.0252 40.8351 12.0252H35.1733V10.3716C35.1733 9.51511 34.4766 8.81836 33.6201 8.81836H4.75987C3.90337 8.81836 3.20662 9.51511 3.20662 10.3716V24C3.20662 24.4151 3.54309 24.7516 3.95822 24.7516C4.37325 24.7516 4.70981 24.4152 4.70981 24V10.3716C4.70981 10.344 4.73222 10.3215 4.75987 10.3215H33.62C33.6476 10.3215 33.67 10.344 33.67 10.3716V24.0002C33.67 24.4153 34.0065 24.7518 34.4216 24.7518C34.8367 24.7518 35.1732 24.4154 35.1732 24.0002V23.1482H44.0391C44.0398 23.1482 44.0404 23.1484 44.041 23.1484C44.0418 23.1484 44.0424 23.1483 44.0431 23.1483C45.1341 23.1491 46.0604 23.8651 46.3786 24.8519H44.0416C43.6266 24.8519 43.29 25.1883 43.29 25.6035V27.2068C43.29 28.5053 44.3464 29.5617 45.6449 29.5617H46.4967V32.8685H44.5315C43.886 31.0045 42.114 29.6618 40.0332 29.6618C37.9524 29.6618 36.1804 31.0045 35.5349 32.8685H35.173V27.2067C35.173 26.7916 34.8366 26.4551 34.4214 26.4551C34.0064 26.4551 33.6698 26.7915 33.6698 27.2067V32.8683H18.0766C17.431 31.0043 15.6591 29.6616 13.5783 29.6616C11.4975 29.6616 9.72544 31.0043 9.07997 32.8683H4.75987C4.73222 32.8683 4.70981 32.8459 4.70981 32.8183V31.1648H7.96659C8.38163 31.1648 8.71819 30.8283 8.71819 30.4132C8.71819 29.9981 8.38172 29.6616 7.96659 29.6616H0.751594C0.336563 29.6616 0 29.9981 0 30.4132C0 30.8283 0.336469 31.1648 0.751594 31.1648H3.20672V32.8183C3.20672 33.6748 3.90347 34.3715 4.75997 34.3715H8.81972C8.81953 34.3882 8.81841 34.4048 8.81841 34.4216C8.81841 37.0462 10.9538 39.1815 13.5783 39.1815C16.2028 39.1815 18.3382 37.0462 18.3382 34.4216C18.3382 34.4047 18.337 34.3882 18.3368 34.3715H35.2747C35.2745 34.3882 35.2733 34.4048 35.2733 34.4216C35.2733 37.0462 37.4087 39.1815 40.0332 39.1815C42.6577 39.1815 44.7931 37.0462 44.7931 34.4216C44.7931 34.4047 44.792 34.3882 44.7918 34.3715H47.2483C47.6633 34.3715 47.9999 34.035 47.9999 33.6199V25.6033C48 23.624 46.5397 21.9795 44.6398 21.6903ZM35.1733 13.5283H40.8351C41.7468 13.5283 42.4885 14.27 42.4885 15.1817V15.2318H35.1733V13.5283ZM35.1733 21.6451V16.7349H41.8516L43.0792 21.6451H35.1733ZM13.5783 37.6785C11.7825 37.6785 10.3215 36.2176 10.3215 34.4218C10.3215 32.6259 11.7825 31.165 13.5783 31.165C15.3741 31.165 16.8351 32.6259 16.8351 34.4218C16.8351 36.2176 15.3741 37.6785 13.5783 37.6785ZM40.0334 37.6785C38.2376 37.6785 36.7766 36.2176 36.7766 34.4218C36.7766 32.6259 38.2376 31.165 40.0334 31.165C41.8292 31.165 43.2902 32.6259 43.2902 34.4218C43.2902 36.2176 41.8292 37.6785 40.0334 37.6785ZM46.4969 28.0585H45.6451C45.1754 28.0585 44.7933 27.6764 44.7933 27.2067V26.3549H46.4968V28.0585H46.4969Z" fill="#267869"/>
<path d="M13.5767 32.8687C12.7202 32.8687 12.0234 33.5654 12.0234 34.4219C12.0234 35.2784 12.7202 35.9752 13.5767 35.9752C14.4332 35.9752 15.1299 35.2784 15.1299 34.4219C15.1299 33.5654 14.4332 32.8687 13.5767 32.8687Z" fill="#267869"/>
<path d="M40.0337 32.8687C39.1772 32.8687 38.4805 33.5654 38.4805 34.4219C38.4805 35.2784 39.1772 35.9752 40.0337 35.9752C40.8902 35.9752 41.587 35.2784 41.587 34.4219C41.587 33.5654 40.8902 32.8687 40.0337 32.8687Z" fill="#267869"/>
<path d="M31.2132 29.6621H19.9899C19.5748 29.6621 19.2383 29.9986 19.2383 30.4137C19.2383 30.8288 19.5747 31.1653 19.9899 31.1653H31.2132C31.6283 31.1653 31.9648 30.8288 31.9648 30.4137C31.9648 29.9986 31.6284 29.6621 31.2132 29.6621Z" fill="#267869"/>
<path d="M11.9732 26.4551H2.35316C1.93813 26.4551 1.60156 26.7915 1.60156 27.2067C1.60156 27.6218 1.93803 27.9583 2.35316 27.9583H11.9732C12.3883 27.9583 12.7248 27.6218 12.7248 27.2067C12.7248 26.7915 12.3883 26.4551 11.9732 26.4551Z" fill="#267869"/>
<path d="M26.1353 16.2533C25.8418 15.9598 25.3659 15.9598 25.0724 16.2534L18.3888 22.9369L14.9119 19.46C14.6184 19.1665 14.1425 19.1665 13.8491 19.46C13.5555 19.7535 13.5555 20.2293 13.8491 20.5228L17.8574 24.5312C18.0041 24.678 18.1965 24.7513 18.3888 24.7513C18.5811 24.7513 18.7736 24.678 18.9202 24.5312L26.1352 17.3162C26.4287 17.0226 26.4287 16.5468 26.1353 16.2533Z" fill="#267869"/>
</svg>  
                  {%- endif -%}
                </div>

                <div class="text-columns-contents">
                  {%- if block.settings.block_heading != blank -%}
                    <h3 class="title">{{ block.settings.block_heading }}</h3>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="text data-aos data-aos--fade-in">{{ block.settings.text }}</div>       
                  {%- endif -%}
                  {%- if block.settings.button_label != blank -%}
                      <div class="mt-5">
                          <a href="{{ block.settings.button_link }}" class="button button--primary data-aos data-aos--fade-in"{% if block.settings.button_link == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label | escape }}</a>
                      </div>
                  {%- endif -%}
                </div>

            </div>
          {%- endfor -%}
      </div>
       
    </div>
</div>

{% schema %}
{
  "name": "t:sections.text-columns-with-images.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "label": "t:sections.text-columns-with-images.settings.heading.label",
    "default": "Heading",
    "info": "8 words max recommended"
  },
  {
    "type": "select",
    "id": "color_bg",
    "options": [
      {
        "value": "accent-1",
        "label": "t:sections.text-columns-with-images.settings.color_bg.options__1.label"
      },
      {
        "value": "accent-2",
        "label": "t:sections.text-columns-with-images.settings.color_bg.options__2.label"
      },
      {
        "value": "background-1",
        "label": "t:sections.text-columns-with-images.settings.color_bg.options__3.label"
      },
      {
        "value": "background-2",
        "label": "t:sections.text-columns-with-images.settings.color_bg.options__4.label"
      }
    ],
    "default": "background-1",
    "label": "t:sections.text-columns-with-images.settings.color_bg.label"
  },
  {
    "type": "select",
    "id": "icon_postion",
    "options": [
      {
        "value": "top",
        "label": "t:sections.text-columns-with-images.settings.icon_position.options__1.label"
      },
      {
        "value": "left",
        "label": "t:sections.text-columns-with-images.settings.icon_position.options__2.label"
      }
    ],
    "label": "t:sections.text-columns-with-images.settings.icon_position.label",
    "default": "top"
  },
  {
    "type": "checkbox",
    "id": "enable_section_borders",
    "label": "t:sections.text-columns-with-images.settings.enable_section_borders.label"
  },
  {
    "type": "range",
    "id": "icons_circle_size",
    "label": "t:sections.text-columns-with-images.settings.icons_circle_size.label",
    "unit": "px",
    "min": 40,
    "max": 90,
    "step": 5,
    "default": 50
  },
  {
    "type": "range",
    "id": "icons_circle_padding",
    "label": "t:sections.text-columns-with-images.settings.icons_circle_padding.label",
    "unit": "px",
    "min": 0,
    "max": 20,
    "step": 1,
    "default": 0
  },
  {
    "type": "color",
    "id": "color_text",
    "default": "#121212",
    "label": "t:sections.text-columns-with-images.settings.color_text.label"
  },
  {
    "type": "color",
    "id": "icon_background",
    "default": "#ffffff",
    "label": "t:sections.text-columns-with-images.settings.icon_background.label"
  },
  {
    "type": "select",
    "id": "content_alignment",
    "label": "t:sections.text-columns-with-images.settings.content_alignment.label",
    "default": "center",
    "options": [
      {
        "value": "left",
        "label": "t:sections.text-columns-with-images.settings.content_alignment.options__1.label"
      },
      {
        "value": "right",
        "label": "t:sections.text-columns-with-images.settings.content_alignment.options__2.label"
      },
      {
        "value": "center",
        "label": "t:sections.text-columns-with-images.settings.content_alignment.options__3.label"
      }
    ]
  },
  {
    "type": "range",
    "id": "padding-top",
    "label": "t:sections.text-columns-with-images.settings.padding-top.label",
    "min": 0,
    "max": 100,
    "default": 80
  },
  {
    "type": "range",
    "id": "padding-bottom",
    "label": "t:sections.text-columns-with-images.settings.padding-bottom.label",
    "min": 0,
    "max": 100,
    "default": 80
  }
  ],
  "blocks": [
    {
    "type": "column",
    "name": "t:sections.text-columns-with-images.blocks.column.name",
    "settings": [
      {
  "type": "select",
  "id": "choose_icon",
  "label": "Choose an icon",
  "options": [
    {
      "value": "quality",
      "label": "Quality"
    },
    {
      "value": "delivery",
      "label": "Delivery"
    },
    {
      "value": "guarantee",
      "label": "Guarantee"
    }
  ],
  "default": "delivery"
},
        {
          "type": "image_picker",
          "id": "image",
          "label": "or add a custom image",
          "info": "64px x 64px .png recommended"
        },
        {
          "type": "text",
          "id": "block_heading",
          "label": "t:sections.text-columns-with-images.blocks.column.settings.block_heading.label",
          "default": "Subheading"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.text-columns-with-images.blocks.column.settings.text.label",
          "info": "26 words max recommended"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.text-columns-with-images.blocks.column.settings.button_label.label",
          "info": "t:sections.text-columns-with-images.blocks.column.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.text-columns-with-images.blocks.column.settings.button_link.label"
        }
      ]
    } 
  ],
  "presets": [
    {
      "name": "t:sections.text-columns-with-images.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
